.App {
  text-align: center;
  background-color: #a6a9bd;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
}

#weeker {
  max-width: 900px;
  min-height: 600px;
  background-color: white;
  margin: auto;
}

#weeker .week {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 5px;
}

#weeker .week-header {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.day {
  width: 100%;
  height: 100%;
  padding: 2px;
}

.part-container {
  width: 100%;
  height: 80px;
  padding: 4px;
}

.part-container .part {
  width: 100%;
  height: 80px;
  background: #f9f8f7;
  cursor: pointer;
  transition: .3s;
  padding: 5px;
  border: none;
  outline: none;
}

.part-container .part-disabled {
  height: 80px;
  background: #eae9e9;
  color: #666;
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
}

.part-container .part.selected,
.part-container .disabled
 {
  background: #5674e6;
  color: white;
}

.part-container .part:hover {
  background: #dfe2f3;
}

.part-container .part.selected:hover {
  background: #b5b8c7;
}

.big-link {
  cursor: pointer;
  font-size: 16px;
}

.big-link.disabled {
cursor: default;
color: #888;
}

.message-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.message-box .msg{
  background: white;
  border: 1px solid #ccc;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  width: 800px;
}

select, input {
  border: 1px solid #e3e3e3;
  background-color: white;
  height: 28px;
  padding: 0 6px;
  margin: 12px 6px;
  border-radius: 0;
  min-width: 200px;
  font-size: 14px;
}

input[type=submit] {
  height: 30px;
  background-color: #333;
  color: white;
  border: none;
}

